.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.clear-button {
  background-color: rgb(217, 214, 214);
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.chat-input {
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 10px;
  border-width: 0.5px;
  flex-grow: 1;
}
.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}
